html, body {
    margin: 0;
    padding: 0;
}
canvas {
    display: block;
}

#canvas {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#text {
    font-size: 50px;
    margin: 0px;
    padding: 0px;
}

#title {
    margin: 10px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}